<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apps Script 測試</title>
</head>

<body>
    <h1>gs 測試
        <?= email ?>
    </h1>
    <p id="message"></p>

    <h2>寫入 testinsert sheet</h2>
    <form id="myForm" onsubmit="return submitInput()">
        <label for="booking_date">選擇日期:</label>
        <input type="date" id="booking_date" v-model="selected_date" onchange="updateBookingsByDate()">
        <div></div>
        <label for="booking_class">選擇班級:</label>
        <select id="selected_className">
            <option value="">--請選擇班級--</option>
            <option value="國一仁">國一仁</option>
            <option value="國一義">國一義</option>
            <option value="國一禮">國一禮</option>
            <option value="國一智">國一智</option>
            <option value="國二仁">國二仁</option>
            <option value="國二義">國二義</option>
            <option value="國二禮">國二禮</option>
            <option value="國二智">國二智</option>
            <option value="國三仁">國三仁</option>
            <option value="國三義">國三義</option>
            <option value="國三禮">國三禮</option>
            <option value="國三智">國三智</option>
            <option value="高一仁">高一仁</option>
            <option value="高一義">高一義</option>
            <option value="高一禮">高一禮</option>
            <option value="高一智">高一智</option>
            <option value="高一信">高一信</option>
            <option value="高一忠">高一忠</option>
            <option value="高一孝">高一孝</option>
            <option value="高一和">高一和</option>
            <option value="高二仁">高二仁</option>
            <option value="高二義">高二義</option>
            <option value="高二禮">高二禮</option>
            <option value="高二智">高二智</option>
            <option value="高二信">高二信</option>
            <option value="高二忠">高二忠</option>
            <option value="高二孝">高二孝</option>
            <option value="高二和">高二和</option>
            <option value="高三仁">高三仁</option>
            <option value="高三義">高三義</option>
            <option value="高三禮">高三禮</option>
            <option value="高三智">高三智</option>
            <option value="高三信">高三信</option>
            <option value="高三忠">高三忠</option>
            <option value="高三孝">高三孝</option>
            <option value="高三和">高三和</option>
            <option value="other">其他(跨班跨年級)</option>
        </select>
        <input type="text" v-show="selected_className === 'other'" v-model="other_className" placeholder="請輸入班級">

        <div>任課教師/借用人</div>
        <input type="text" id="teacherName">
        <div>科目/課程 </div>
        <input type="text" id="classSubject">
        <div>其他說明</div>
        <input type="text" id="descript">

        <div id="periods">
            <label for="booking_periods">節次:</label><br>
            <div>
                <? for (var i = 1; i < periods.length; i++) { ?>
                <input class="period-checkbox" type="checkbox" id="<?= periods[i][1] ?>" value="<?= periods[i][2] ?>">
                <label>
                    <?= periods[i][2] ?>
                </label><br>
                <? } ?>
            </div>
        </div>
        <div id="bookingsByDate">
            <h2 id="bookings_title"></h2>
            <table id="bookingsTable">
                <thead>
                    <tr>
                        <th>借用日期</th>
                        <th>節次</th>
                        <th>借用老師</th>
                        <th>課程</th>
                        <th>設備</th>
                        <!-- 更多的欄位 -->
                    </tr>
                </thead>
                <tbody>
                    <!-- 数据将会在这里插入 -->
                </tbody>
            </table>
        </div>

        <div id="items">
            <label for="booking_items">設備:</label><br>
            <div>
                <? for (var i = 1; i < gears.length; i++) { ?>
                <input type="radio" id="gear<?=i?>" name="gearRadio" value="<?= gears[i][1] ?>">
                <label>
                    <?= gears[i][1] ?>
                </label><br>
                <? } ?>
            </div>
            <input type="radio" id="other" value="other" v-model="selected_item">
            <label for="other">其它</label>
            <input type="text" v-show="selected_item === 'other'" v-model="otherItem" placeholder="請輸入其他設備">
        </div>

        <input type="submit" value="Submit">
    </form>

    <hr>
    <table>
        <? for (var i = 0; i < bookings.length; i++) { ?>
        <tr>
            <? for (var j = 0; j < bookings[i].length; j++) { ?>
            <td>
                <? if (i>0 && j == 0) { // replace with your actual time column index
                    var timeValue = new Date(bookings[i][j]);
                    var formattedTimeValue = Utilities.formatDate(timeValue, "GMT+8", "yyyy-MM-dd HH:mm:ss");
                    ?>
                <?= formattedTimeValue ?>
                <? } else if (i>0 && j == 1) { 
                    var timeValue = new Date(bookings[i][j]);
                    var formattedTimeValue = Utilities.formatDate(timeValue, "GMT+8", "yyyy-MM-dd");
                    ?>
                <?= formattedTimeValue ?>
                <? } else { ?>
                <?= bookings[i][j] ?>
                <? } ?>
            </td>
            <? } ?>
        </tr>
        <? } ?>
    </table>


    <script>
        function submitInput() {
            var booking_date = document.getElementById('booking_date').value;
            var selected_className = document.getElementById('selected_className').value;
            var teacherName = document.getElementById('teacherName').value;
            var classSubject = document.getElementById('classSubject').value;
            var descript = document.getElementById('descript').value;
            //var inputValue = document.getElementById('myInput').value;
            var selectedPeriods = Array.from(document.querySelectorAll('.period-checkbox:checked')).map(checkbox => checkbox.value);
            var selectedGearRadioValue = document.querySelector('input[name="gearRadio"]:checked').value;

            var selectedRadio = document.querySelector('input[name="gearRadio"]:checked');
            var selectedGearRadioValue;
            if (selectedRadio) {
                selectedGearRadioValue = selectedRadio.value;
            } else {
                // Handle the case where no radio button is selected
                alert('必須選擇要借的設備!');
            }

            google.script.run.withSuccessHandler(function () {
                //document.getElementById('message').innerText = '新增成功!';
                alert('新增成功!');
            }).withFailureHandler(function (error) {
                //document.getElementById('message').innerText = '新增失敗，錯誤信息：' + error.message;
                alert('新增失敗，錯誤信息：' + error.message);
            }).updateSheet(booking_date, selected_className, teacherName, classSubject, descript, selectedPeriods, selectedGearRadioValue);

            // Clear all input fields
            document.querySelectorAll('input[type="text"]').forEach(input => input.value = '');
            document.querySelectorAll('textarea').forEach(textarea => textarea.value = '');
            document.querySelectorAll('select').forEach(select => select.selectedIndex = 0);

            // Prevent form from submitting and causing a page refresh
            return false;
        }


        function updateBookingsByDate() {
            console.log('run updateBookingsByDate')
            var booking_date_string = document.getElementById('booking_date').value;
            console.log('booking_date: ', booking_date_string)
            // 修改標題的內容
            var title = document.getElementById('bookings_title');
            title.textContent = booking_date_string + " 已借用紀錄";

            // 调用 getBookingsByDate 方法
            google.script.run.withSuccessHandler(function (bookingsJson) {
                var bookings = JSON.parse(bookingsJson);
                console.log('bookings: ', bookings);

                var tbody = document.getElementById('bookingsTable').getElementsByTagName('tbody')[0];
                tbody.innerHTML = ''; // 清空舊資料
                bookings.forEach(function (booking, i) {
                    var row = document.createElement('tr'); // 建立新的行

                    // 創建包含要顯示列索引的數組
                    var columnsToShow = [1, 2, 7, 8, 10]; // 注意索引是基於0的，所以第2列的索引是1，第3列的索引是2，以此類推

                    columnsToShow.forEach(function (columnIndex) {
                        var cellData = booking[columnIndex];

                        // 如果是第二列（索引為1），將日期轉換為期望的格式
                        if (columnIndex === 1) {
                            var date = new Date(cellData);
                            cellData = date.getFullYear() + "-" + ("0" + (date.getMonth() + 1)).slice(-2) + "-" + ("0" + date.getDate()).slice(-2);
                        }

                        var cell = document.createElement('td'); // 建立新的列
                        cell.textContent = cellData; // 插入數據
                        row.appendChild(cell); // 把列添加到行中
                    });
                    tbody.appendChild(row); // 把行添加到表格中
                });
            }).withFailureHandler(function (error) {
                alert('讀取預約日借用狀況失敗，錯誤信息：' + error.message);
            }).getBookingsByDate(booking_date_string);

            // ...
        }

    </script>
</body>

</html>